body
{
	margin:0;
	color:white;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#overlay
{
	opacity:0.9;
	position:fixed;
	width:100%;
	height:100%;
	overflow:auto;
	z-index:-1;
}

ul
{
	list-style-type:none;
	padding:0;
	overflow:auto;
}

ul li
{
	float:left;
	padding:5px 25px 5px 0px;
}

a
{
	text-decoration:none;
}

a:hover
{
	text-decoration:underline;
}

#menu
{
	color:white;
	margin:20px 0px 0px 0px;
	padding:0px 50px 0px 50px;
	float:left;
	border-left:4px solid white;
}

#container-inner
{
	clear:both;
	overflow:hidden;
	padding:0px 10px 0px 10px;
	margin:40px 0px 10px 50px;
	float:left;
}

#container-inner div
{
	clear:both;
}
	
a:link
{
	color:white;
}

a:visited
{
	color:white;
}

#menu a:hover
{
	border-bottom: 4px solid white;
	color:white;
	text-decoration:none;
}

#menu a.active
{
	border-bottom:2px solid white;
}

#footer
{
	float:left;
	clear:both;
	border-left:4px solid white;
	padding:0px 0px 0px 50px; 
	font-size:13px;
	margin:0px 0px 8px 0px;
}

.highlight
{
	padding:4px;
	background-color:#BA0000;
	opacity:0.75;
}

.box
{
	float:left;
	margin: 0px 15px 12px 0px;
	padding:5px 15px 8px 15px;
	background-color:black;
	opacity:0.85;
}


.subtext
{
	font-size:14px;
}

.h-bold
{
	font-weight:bold;
	margin:0px 0px 5px 0px;
}

.h-nobold
{
	font-weight:normal;
	margin:0px 0px 8px 0px;	
}
